/* COLORS */

$clr-app-bg: #ffffff;
$clr-content-bg: #ffffff;
$clr-app-text: rgb(0, 0, 0);
$clr-header-bg: #000212;
$clr-header-logo: #8FFFEE;
$clr-footer-bg: #000212;
$clr-footer-text: #959595;
$clr-pink: #DD0C60;
$clr-pink-light: #FFCBFB;
$clr-green: #C6E63F;
$clr-grey: #737A6E;
$clr-grey-light: #c1c1c1;
$clr-orange: #DC9118;
$clr-red-error: #ff8181;
$clr-red-error-dark: #653333;
$clr-green-success: #3bff84;
$clr-green-success-dark: #176534;
$clr-odd-row: #363636;
$clr-even-row: #1f1f1f;
$clr-sale: #ff0000;
$clr-red: #ff0000;
$clr-red-light: #DC9118;
$clr-green-dark: #292929;
$clr-blue: #80adef;

/* VARIOUS */

$header-height: 0px;
$width-media-limit: 1040px;
$footer-height: 40px;
$info-bar-height: 45px;