@use 'reset';
@use 'variables' as v;
@use 'bootstrap-icons.scss';

@font-face {
  font-family: 'Gruppo';
  src: url('../fonts/Gruppo-Regular.ttf') format('truetype');
}

/**
 * HACK ZOOM SUR IOS
 */

 input[type="color"],
 input[type="date"],
 input[type="datetime"],
 input[type="datetime-local"],
 input[type="email"],
 input[type="month"],
 input[type="number"],
 input[type="password"],
 input[type="search"],
 input[type="tel"],
 input[type="text"],
 input[type="time"],
 input[type="url"],
 input[type="week"],
 select,
 select:focus,
 textarea {
   font-size: 16px !important;
   border: none;
   &:focus {
     outline: none;
   }
 }

 input[type='submit'] {
  cursor: pointer;
 }

html {
  font-size: 10px;
}

body {
  position: relative;
  background-color: v.$clr-app-bg;
  color: v.$clr-app-text;
  * {
    hyphens: none;
    -webkit-hyphens : none;
  }
}

.text-with-icon {
  display: flex;
  align-items: center;
  gap: 20px;
  .icon {
    font-size: 20px;
    color: v.$clr-app-text;
  }
  .text span {
    font-family: 'PT Sans Bold', sans-serif;
    font-size: 14px;
    color: v.$clr-app-text;
    a {
      color: v.$clr-app-text;
      text-decoration: none;
    }
  }
}